.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    padding: 1% 2%;

    }

.lineadiseparazione {
       grid-area:  1 / 3 / 6 / 4;
       border-right: 1px solid#003049;
       
      }
    
      
.listaluoghi { 
    grid-area:  1 / 1 / 6 / 3; 
    padding: 1%;
    }
    
li.luoghidettaglio {
    list-style-type: none;
    border: 1px solid #003049;
    color: #003049;
    text-align: center;
}
    .primapartedestra { grid-area: 1 / 4 / 6 / 7; }
    .secondapartedestra { grid-area: 1 / 7 / 6 / 10; }
    

/*Stylign che riguarda il dettaglio dei luoghi. 
Dovrebbe diventare possibile interagire e toccare i titoli sopra
per cambiarli. Logica da fare simile alla mappatura di prima*/





/* Media query per dispositivi mobili, qui ci sarà da pensare
 a tutto lo stile mobile per bene 
 l'idea sarebbe quella di rendere nascondibile la lista degli elementi
 così che si vedano solo le immagini e la descrizione */
@media (max-width: 364px) {

    .elementoluoghi {
        border: 1px solid #003049;
        padding: 1%;
        margin: 1%;
        width: 6rem;
        
    }

    .elementoluoghi:active {
      padding: 5px;
      margin-bottom: 5px;
    }
  }