.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-right: 1px hsl(49, 71%, 66%) solid;
    
}

/*Questo codice ha a che fare con
la ui della lista dei luoghi as a whole*/
div.listaluoghi { 
    grid-area:  1 / 1 / 6 / 3;
    border-right: 1px hsl(49, 71%, 66%) solid;
    width: 20rem;
    height: 100%;
    margin: 2% 2% 1%;
    padding: 0 3% 0 0;
}


/*Qui prendo in esame solo gli elementi UL dentro alla classe .listaluoghi */
.listaluoghi ul {
    width: 100%;
    height: 38.5rem;
    padding: 2%;
    scrollbar-color: hsl(49, 71%, 66%);
    overflow: scroll;
}

.contenitoreimmagine {
    color: hsl(49, 71%, 66%);
}

.contenitoreimmagine h1 {
    font-weight: bold;
    font-size: 3rem;
}

.dettaglioluoghi li {
    list-style-type: none;
    border: 1px solid hsl(49, 71%, 66%);
    padding: 1%;
    margin: 3% 2% 1%;
    text-align: center;
    color: hsl(49, 71%, 66%);
}

.dettaglioluoghi li:hover {
    background-color: hsl(49, 71%, 66%);
    color: #131E49;
    box-shadow: 3px 3px rgb(212, 115, 31);
}

.descrizioneluoghi { 
    grid-area: 3 / 3 / 6 / 9;  
    width: 100%;
    padding: 2%;
    color: hsl(49, 71%, 66%);
}

.descrizioneluoghi div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descrizioneluoghi h3 {
    text-align: center;
}

.descrizioneluoghi p{
     margin: 0 auto;
     border: 2px solid hsl(49, 71%, 66%);
     width: 80%;
     height: 15rem;
     overflow: scroll;
     padding: 1%;
     color: hsl(49, 71%, 66%);
     font-weight: lighter;
     font-size: 1rem;
     
}

.contenitoreimmagine { 
    grid-area: 1 / 3 / 3 / 7;
    width: 100%;
    height: 26rem;
}

.contenitoreimmagine div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.contattiluoghi { 
    grid-area: 1 / 7 / 2 / 9; 
    color: hsl(49, 71%, 66%);
}

.contattiluoghi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2% 2% 1% 2%;
    background-color: rgba(212, 115, 31, 0.681);
}
    
.oraridiapertura { 
    grid-area: 2 / 7 / 3 / 9;
    color: hsl(49, 71%, 66%);
} 

.oraridiapertura div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2% 2% 1% 2%;
}


/* Media query per dispositivi mobili, qui ci sarà da pensare
 a tutto lo stile mobile per bene 
 l'idea sarebbe quella di rendere nascondibile la lista degli elementi
 così che si vedano solo le immagini e la descrizione */
@media (max-width: 780px) {
    .parent {
        display: flex;
        flex-direction: column;
    }

    .listaluoghi {
        padding: 0;
    }

    .searchbarluoghi {
        padding: 0;
    }

    .iconacore {
        padding: 0;
    }

    .iconaricerca {
        padding: 0;      
    }

    .dettaglioluoghi {
        padding: 0;
    }

    .contenitoreimmagine {
        padding: 0;
    }

    .descrizioneluoghi {
        padding: 0;
    }

    .contattiluoghi {
        padding: 0;
    }

    .oraridiapertura {
        padding: 0;
    }
  }