@media(max-width:727)  {
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
        z-index: index 5; ;
    }

    nav ul {
        display: none;
        padding-left: 0%;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a { 
        margin: 0.2rem 0.5rem;
    }
    
}