<<<<<<< HEAD
=======
.App{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
  margin: none;
  padding: none;
}
=======
}
>>>>>>> 0e329085f7024217c8ad537ae5a731f615dde394
>>>>>>> 87b7b637d0f2e21ad8ad5d34786377e06d403fa7
