.herosec{
    max-height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
h1{
    font-size: 60px;
    color:rgb(48, 45, 45);
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}